<ng-container *ngIf="server">
  <div>

    <div class="server-title">{{server.Name}}</div>

    <div class="server-info">
      <ng-container *ngIf="server.IsOfficial"><i class="fa-solid fa-square-check"></i></ng-container>
      <ng-container *ngIf="!server.IsOfficial"><i class="fa-solid fa-users"></i></ng-container>
      <ng-container *ngIf="server.HasPassword"><span> | </span><i class="fa-solid fa-lock"></i></ng-container>
      | {{server.AntiCheat}} | {{server.Build}}
    </div>
  </div>

</ng-container>