/* You can add global styles to this file, and also import other style files */
// Override default variables
$primary-500: #ff5722;
$primary-600: #f4511e;
$primary-700: #e64a19;


@import "@picocss/pico/scss/pico";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

